<%- include('partials/header') -%>

<div class="container-fluid mt-5 registr">
  <h1>Login</h1>

<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <form class="" action="/login" method="post">
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="username" value="" id="email" >
            </div>
            <div class="form-group">
              <label for="passwrd">Password</label>
              <input class="form-control" type="password" name="password" value="" id="passwrd" >
            </div>
              <button class="btn btn-dark" type="submit" name="button">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>


</div>



<%- include('partials/footer') -%>
