<%- include('partials/header') -%>

  <div class="jumbotron centered">
    <div class="container">
      <i class="fa-solid fa-key fa-6x"></i>
      <h1 class="display-3">You've Discovered My Secret</h1>
      <p class="secret-text">Jack Bauer is my hero.</p>
      <hr class="my-4">
    <a  class="btn btn-light btn-lg" href="">Logout</a>
    <a  class="btn btn-dark btn-lg" href="/submit">Submit a Secret</a>
    </div>
  </div>

  <%- include('partials/footer') -%>
